**/build
/bin
*/bin/*
!src/dist/bin
**/.settings
**/.classpath
**/.DS_Store
**/.project
**/logs
**/pom.properties
**/target
.gradle/
.classpath
.project
.settings
/logs/**
.idea/
*.iml
*.iws
node_modules/**
npm-debug.log
/classes
/out
*all.min.js
*.ipr
